<div class="header">
	<h1><a href="#/home"><img src="images/logo.png"/></a></h1>
	<form action="" method="post">
		<img src="images/search.png" class="jing"/>
		<input type="text" name="" placeholder="请输入药品名" />
	</form>
	<img src="images/service.png"/>
</div>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
        	<img src="images/8a2c91bf58ba8c1d015a7de3e15b1a9c.jpg"/>
        </div>
        <div class="swiper-slide">
        	<img src="images/8a2c91bf58ba8c1d015a8d4e2a8c1d43.jpg"/>
        </div>
        <div class="swiper-slide">
        	<img src="images/8a2c91bf58ba8c1d015a49be84ce1520.jpg"/>
        </div>
        <div class="swiper-slide">
        	<img src="images/8a2c91bf58ba8c1d015a882e8ff31c31.jpg"/>
        </div>
        <div class="swiper-slide">
        	<img src="images/8a2c91bf58ba8c1d0159485114b80dba.jpg"/>
        </div>
    </div>
	<div class="swiper-pagination"></div>
</div>
<div class="nav">
	<dl>
		<dt><img src="images/1.png"/></dt>
		<dd>中西药品</dd>
	</dl>
	<dl>
		<dt><img src="images/2.png"/></dt>
		<dd>家庭常备药</dd>
	</dl>
	<dl>
		<dt><img src="images/3.png"/></dt>
		<dd>皮肤科</dd>
	</dl>
	<dl>
		<dt><img src="images/4.png"/></dt>
		<dd>男性疾病</dd>
	</dl>
	<dl>
		<dt><img src="images/5.png"/></dt>
		<dd>风湿骨科</dd>
	</dl>
	<dl>
		<dt><img src="images/6.png"/></dt>
		<dd>滋补调养</dd>
	</dl>
</div>
<div class="tui">
	<p>
		<img src="images/tuijian.png"/>精品推荐
	</p>
</div>
<div class="main">
	<p class="names"><img src="images/8a2c91bf56732652015721e60f28285f.jpg"/></p>
	<div class="dls">
		<dl ng-repeat="item in data1">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div>
	<p class="names"><img src="images/8a2c91bf5673265201569b4d5a470f4c.jpg" style="width: 30vw;"/></p>
	<div class="dls">
		<dl ng-repeat="item in data2">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div>
	<p class="names"><img src="images/8a2c91bf567326520157034e8860262c.jpg" /></p>
	<div class="dls">
		<dl ng-repeat="item in data3">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div><p class="names"><img src="images/8a2c91bf5803e97c01584d69bde40958.jpg" /></p>
	<div class="dls">
		<dl ng-repeat="item in data4">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div>
	<p class="names"><img src="images/8a2c91bf567326520157a38068984f54.jpg" /></p>
	<div class="dls">
		<dl ng-repeat="item in data5">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div>
	<p class="names"><img src="images/8a2c91bf5673265201574f703e332f63.jpg" /></p>
	<div class="dls">
		<dl ng-repeat="item in data6">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div>
	<p class="names"><img src="images/8a2c91bf567326520156e46a522423da.jpg" /></p>
	<div class="dls">
		<dl ng-repeat="item in data7">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div>
	<p class="names"><img src="images/8a2c91bf567326520156e46a7d8123db.jpg" /></p>
	<div class="dls">
		<dl ng-repeat="item in data8">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div>
	<div class="tui">
		<p>
			<img src="images/hobby.png"/>猜你喜欢
		</p>
	</div>
	<div class="dls" style="padding-top: 2vh;">
		<dl ng-repeat="item in data9">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
			<a href="{{item.detailUrl}}"></a>
		</dl>
	</div>
	<div class="footer">
		<p style="padding: 2vh 0 4vh 0;">友情链接：<span>健康商城</span></p>
		<p class="p1">公司名称：国药堂大药房（上海）有限公司</p>
		<p class="p1">公司地址：上海市长宁区中山西路1001号－7楼</p>
		<p class="p1">商务合作：021-64175325</p>
	</div>
	<div class="feet">
		<dl>
			<dt><img src="images/home(1).png"/></dt>
			<dd>首页</dd>
		</dl>
		<dl>
			<dt><img src="images/class.png"/></dt>
			<dd>分类</dd>
		</dl>
		<dl>
			<dt><img src="images/mine.png"/></dt>
			<dd>我的</dd>
		</dl>
		<dl class="shop">
			<dt><img src="images/shop.png"/></dt>
			<dd><span>0</span>件</dd>
		</dl>
	</div>
</div>