<link rel="stylesheet" type="text/css" href="styles/search.css"/>
<div class="box">
	<div class="headers">
		<form action="" method="post">
			<img src="images/search.png" class="jing"/>
			<input type="text" name="" placeholder="请输入药品名" />
		</form>
		<button>取消</button>
	</div>
	<div class="hot">
		<p>热门搜索</p>
		<ul>
			<li>阿胶</li>
			<li>秋冬滋补</li>
			<li>益安宁丸</li>
			<li>希舒美</li>
			<li>杜蕾斯</li>
			<li>减肥</li>
			<li>隐形眼镜</li>
			<li>安步乐克</li>
			<li>薇姿</li>
			<li>斯皮仁诺</li>
		</ul>
	</div>
	<p class="white"></p>
	<p class="record">历史记录</p>
	<p class="empty">暂无记录</p>
</div>