<link rel="stylesheet" type="text/css" href="styles/zhongxi.css"/>
<div class="headers">
	<form action="" method="post">
		<img src="images/search.png" class="jing"/>
		<a href="#/search"><input type="text" name="" placeholder="中西药品(8248)" /></a>
	</form>
	<button>搜索</button>
</div>
<div class="fl">
	<p>
		<span>全部分类</span>
		<span>综合排序</span>
	</p>
	<p class="shai">筛选</p>
</div>
<div class="boxes">
<div class="yc">
	<div class="left">
		<ul class="nav-left">
			<li >心脑血管</li>
			<li >滋补调养</li>
			<li >风湿骨科</li>
			<li >妇科疾病</li>
			<li >五官科</li>
			<li >男性疾病</li>
			<li >神经系统</li>
			<li >内分泌科</li>
			<li >呼吸道疾病</li>
			<li >肝病科</li>
			<li >消化系统疾病</li>
			<li >肿瘤科</li>
			<li >皮肤病</li>
	</ul>
	</div>
	<div class="right">
		<ul class="category-items ">
			
				<li ><a href="/category_70">高血压 </a></li>
			
				<li ><a href="/category_71">脑血管病 </a></li>
			
				<li ><a href="/category_72">冠心病 </a></li>
			
				<li ><a href="/category_73">高血脂 </a></li>
			
				<li ><a href="/category_74">心绞痛 </a></li>
			
				<li ><a href="/category_75">静脉曲张 </a></li>
			
				<li ><a href="/category_76">血液疾病 </a></li>
			
				<li ><a href="/category_77">低血压 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_24">补肾壮阳 </a></li>
			
				<li ><a href="/category_23">补血补气 </a></li>
			
				<li ><a href="/category_9">免疫调节 </a></li>
			
				<li ><a href="/category_68">增强抵抗力 </a></li>
			
				<li ><a href="/category_69">安神助眠 </a></li>
			
				<li ><a href="/category_56">减肥瘦身 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_45">腰椎病 </a></li>
			
				<li ><a href="/category_46">跌打损伤 </a></li>
			
				<li ><a href="/category_92">风湿类风湿 </a></li>
			
				<li ><a href="/category_93">骨关节炎 </a></li>
			
				<li ><a href="/category_94">骨质疏松 </a></li>
			
				<li ><a href="/category_95">痛风 </a></li>
			
				<li ><a href="/category_96">外用贴膏 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_51">保胎促孕 </a></li>
			
				<li ><a href="/category_55">阴道炎 </a></li>
			
				<li ><a href="/category_134">月经不调 </a></li>
			
				<li ><a href="/category_135">避孕 </a></li>
			
				<li ><a href="/category_136">更年期 </a></li>
			
				<li ><a href="/category_137">子宫疾病 </a></li>
			
				<li ><a href="/category_138">乳腺疾病 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_34">咽喉炎 </a></li>
			
				<li ><a href="/category_35">眼部炎症 </a></li>
			
				<li ><a href="/category_36">鼻炎 </a></li>
			
				<li ><a href="/category_129">眼干眼涩 </a></li>
			
				<li ><a href="/category_130">白内障 </a></li>
			
				<li ><a href="/category_131">耳聋耳鸣 </a></li>
			
				<li ><a href="/category_132">牙周疾病 </a></li>
			
				<li ><a href="/category_133">口腔溃疡 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_62">性功能障碍 </a></li>
			
				<li ><a href="/category_63">男性不育症 </a></li>
			
				<li ><a href="/category_64">前列腺炎 </a></li>
			
				<li ><a href="/category_65">肾病 </a></li>
			
				<li ><a href="/category_66">泌尿系统疾病 </a></li>
			
				<li ><a href="/category_67">补肾 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_78">抑郁症 </a></li>
			
				<li ><a href="/category_79">癫痫 </a></li>
			
				<li ><a href="/category_80">帕金森 </a></li>
			
				<li ><a href="/category_81">精神分裂症 </a></li>
			
				<li ><a href="/category_82">老年痴呆 </a></li>
			
				<li ><a href="/category_83">失眠 </a></li>
			
				<li ><a href="/category_84">中风 </a></li>
			
				<li ><a href="/category_85">神经性疼痛 </a></li>
			
				<li ><a href="/category_86">多动症 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_88">糖尿病 </a></li>
			
				<li ><a href="/category_89">抗感染 </a></li>
			
				<li ><a href="/category_90">抗病毒 </a></li>
			
				<li ><a href="/category_91">甲状腺疾病 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_105">感冒发烧 </a></li>
			
				<li ><a href="/category_106">咳嗽 </a></li>
			
				<li ><a href="/category_107">上火 </a></li>
			
				<li ><a href="/category_108">小儿感冒 </a></li>
			
				<li ><a href="/category_109">哮喘 </a></li>
			
				<li ><a href="/category_110">支气管炎 </a></li>
			
				<li ><a href="/category_111">慢阻肺 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_113">乙肝 </a></li>
			
				<li ><a href="/category_114">保肝护肝 </a></li>
			
				<li ><a href="/category_115">肝纤维化肝硬化 </a></li>
			
				<li ><a href="/category_116">胆结石 </a></li>
			
				<li ><a href="/category_9">免疫调节 </a></li>
			
				<li ><a href="/category_118">胆道疾病 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_120">胃炎 </a></li>
			
				<li ><a href="/category_121">胃肠溃疡 </a></li>
			
				<li ><a href="/category_122">结肠炎 </a></li>
			
				<li ><a href="/category_123">消化不良 </a></li>
			
				<li ><a href="/category_124">便秘 </a></li>
			
				<li ><a href="/category_125">腹泻 </a></li>
			
				<li ><a href="/category_126">蛔虫病 </a></li>
			
				<li ><a href="/category_127">痔疮 </a></li>
			
				<li ><a href="/category_128">小儿肠胃病 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_141">肺癌 </a></li>
			
				<li ><a href="/category_142">肝癌 </a></li>
			
				<li ><a href="/category_143">胃癌 </a></li>
			
				<li ><a href="/category_144">食道癌 </a></li>
			
				<li ><a href="/category_145">淋巴癌 </a></li>
			
				<li ><a href="/category_147">白血病 </a></li>
			
				<li ><a href="/category_148">乳腺癌 </a></li>
			
				<li ><a href="/category_150">化疗提高营养 </a></li>
			
		</ul>
	
		<ul class="category-items ">
			
				<li ><a href="/category_210">皮肤瘙痒症 </a></li>
			
				<li ><a href="/category_211">白癜风 </a></li>
			
				<li ><a href="/category_212">银屑病 </a></li>
			
				<li ><a href="/category_213">痤疮 </a></li>
			
				<li ><a href="/category_214">疤痕 </a></li>
			
				<li ><a href="/category_215">脱发 </a></li>
			
				<li ><a href="/category_216">灰指甲 </a></li>
			
				<li ><a href="/category_217">黄褐斑 </a></li>
			
		</ul>

	</div>
</div>
<div class="yc2">
	<ul>
		<li>综合排序</li>
		<li>价格升序</li>
		<li>价格降序</li>
	</ul>
</div>
</div>
<div class="main">
	<div class="dls">
		<dl ng-repeat="item in data" ng-click="clickFn(item.code)">
			<dt><img ng-src="{{item.picture}}"/></dt>
			<dd class="dd1">{{item.name}}</dd>
			<dd class="dd2">￥{{item.sellPrice}}</dd>
		</dl>
	</div>
</div>
<div class="feet">
		<dl class="ft active">
			<dt><a href="#/home"><img src="images/home.png" class="img1"/><img src="images/home(1).png" class="img2"/></a></dt>
			<dd>首页</dd>
		</dl>
		<dl class="ft">
			<dt><a href="#/category_list"><img src="images/class.png" class="img1"/><img src="images/class (1).png" class="img2"/></a></dt>
			<dd>分类</dd>
		</dl>
		<dl class="ft">
			<dt><a href="#/mine"><img src="images/mine.png" class="img1"/><img src="images/mine (1).png" class="img2"/></a></dt>
			<dd>我的</dd>
		</dl>
		<dl class="shop">
			<dt><img src="images/shop.png"/></dt>
			<dd><span>{{nums()}}</span>件</dd>
			<a href="http://127.0.0.1/guoyao/dist/src/app/views/cart.html"></a>
		</dl>
	</div>
	
<script type="text/javascript">
	$(".nav-left>li").click(function(){
		$(this).addClass("cur").siblings().removeClass("cur"); 
		var a = $(this).index();
		$(".right>ul").eq(a).removeClass("category-items").siblings().addClass("category-items")
	})
	$(".fl>p>span").click(function(){
		$(this).addClass("col").siblings().removeClass("col");
		var b = $(this).index();
		$(".boxes>div").eq(b).show().siblings().hide();
	})
</script>